{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
    
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        /* Add your CSS styles here */
    </style>
   
    
    {% tailwind_css %}
</head>
<body >

    <header>
        Header
        <p class='bg-blue-400'> hi</p>
    </header>
    

    <main >
     
        <!-- Add main content here -->
        {% block content %}
        {% endblock %}
    </main>

        <!-- Add footer content here -->

    <footer >
        Footer
    </footer>
    
</body>
</html>
