{% comment %} {% load messages %} {% endcomment %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
    
    
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        /* Add your CSS styles here */
    </style>
   
    
    {% tailwind_css %}
</head>
<body >
    {% comment %} {% messages %} {% endcomment %}
    {% if user.is_authenticated %}
    <p class='my-4'>Welcome, {{ request.user.username }}!</p>
    <a class='bg-sky-400 py-2 px-5 rounded-md my-5' href="{% url 'profile-page' pk=1 %}">Profile Page</a>
    <a href="{% url 'logout' %}" class="bg-red-400 px-3 py-1 rounded-md text-white">Log Out</a>
    <!-- Other content for authenticated users -->
{% else %}
    <p class='my-4'>You are not logged in.</p>
    <a class='bg-sky-400 py-2 px-5 rounded-md my-5' href="{% url 'login' %}">Login</a>
    <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'signup' %}">Sign Up</a>
    <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'signup-business' %}">Sign Up for Business</a>
        
    <!-- Content for non-authenticated users -->
{% endif %}
   
    <header class='flex flex-row gap-3 my-4'>
        Restaurants Url
        <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'restaurant-list' %}">Restaurants List </a>
       

    </header>
    <header class='flex flex-row gap-3 my-4'>
        Review Url
        <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'review-list' %}">Review List </a>
        <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'write-a-review' %}">Create Review </a>
       
  
    </header>
    <header class='flex flex-row gap-3 my-4'>
    Review Url
    {% comment %} {% if user.has_perm('app_reviews.add_review') %} {% endcomment %}
        <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'write-a-review' %}">Create Review </a>
    {% comment %} {% if user.has_perm('app_reviews.view_review') %} {% endcomment %}
        <a class='bg-sky-400 py-2 px-5 rounded-md' href="{% url 'review-list' %}">Review List </a>
    {% comment %} {% endif %} {% endcomment %}
</header>
  
    

    <main >
     
        <!-- Add main content here -->
        {% block content %}
        {% endblock %}
    </main>

        <!-- Add footer content here -->

    <footer >
        Footer
    </footer>
    
</body>
</html>
