{% load static %}
<footer>
    <section>
        <div class="col-wrap">
            <div class="col-33">
                <img class="footer-logo" src="{% static 'logo/logo-full-cropped.png' %}">
                <p class="text">At Kiwi Feeds, we're passionate about connecting you with the finest flavors your city has to offer. Just like the beloved fruit, our platform is all about freshness, variety, and a burst of delightful experiences.</p>
            </div>
            <div class="col-33">
                <div class="q-links-wrap">
                    <h3>Quick Links</h3>
                    <div class="links-cont">
                        <a href="http://127.0.0.1:8000/" class="f-link t-link">Home</a>
                        <br>
                        <a href="/restaraunt-catalog" class="f-link t-link">Restaraunts</a>
                        <br>
                        <a class="f-link t-link">Customer Login</a>
                        <br>
                        <a class="f-link t-link">Business Login</a>
                    </div>
                </div>
            </div>
            <div class="col-33">
                <h3 id="soc-med-text">Social Media</h3>
                <br>
                <div class="col-50">
                    <img class="social-icons">
                </div>
                <div class="col-50">
                    <img class="social-icons">
                </div>
            </div>
        </div>
    </section>
</footer>