{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="col-wrap">
        <div class="col-50">
            <div id="reviewer-cta" class="login-reg-cta">
                <h2 class="cta-heading">Reviewer</h2>
                <p class="cta-par">Get ready to embark on a culinary journey like never before. Sign up today to start discovering the flavours of your city, one bite at a time.</p>
                <div class='cta-small-col'>
                    <a href='/user/signup/' class='btn btn-white btn-cta'>Create Reviewer Account</a>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div id="business-cta" class="login-reg-cta">
                <h2 class="cta-heading">Business</h2>
                <p class="cta-par">Get ready to embark on a culinary journey like never before. Sign up today to start discovering the flavours of your city, one bite at a time.</p>
                <div class='cta-small-col'>
                    <a href='user/signup-business' class='btn btn-white btn-cta'>Create Business Account</a>
                </div>
            </div>
        </div>    
    </div>
    <div>
        <div class='bottom-cta' id="login-cta">
            <h2 class='cta-heading'>Log In</h2>
            <p class='cta-par'>Login to manage your profile, reviews and restaraunts</p>
            <div class='cta-small-col'>
                <a href='/user/login' class='btn btn-white btn-cta'>Login</a>
            </div>
        </div>
    </div>

</section>

{% endblock %}