{% import static %}

<section>
    <div class="form-wrapper">
        <form>
            <div class="rendered-form">
                <div class="formbuilder-text form-group field-first-name">
                    <label for="first-name" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="text" placeholder="First Name" class="form-field" name="first-name" access="false" maxlength="50" id="first-name" required="required" aria-required="true">
                </div>
                <div class="formbuilder-text form-group field-last-name">
                    <label for="last-name" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="text" placeholder="Last Name" class="form-field" name="last-name" access="false" maxlength="50" id="last-name" required="required" aria-required="true">
                </div>
                <div class="formbuilder-text form-group field-cus-address">
                    <label for="cus-address" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="text" placeholder="Address" class="form-field" name="cus-address" access="false" maxlength="255" id="cus-address" required="required" aria-required="true">
                </div>
                <div class="formbuilder-text form-group field-cus-phone">
                    <label for="cus-phone" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="tel" placeholder="Phone Number" class="form-field" name="cus-phone" access="false" maxlength="50" id="cus-phone" required="required" aria-required="true">
                </div>
                <div class="formbuilder-text form-group field-cus-email">
                    <label for="cus-email" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="email" placeholder="Email" class="form-field" name="cus-email" access="false" maxlength="50" id="cus-email" required="required" aria-required="true">
                </div>
                <div class="formbuilder-text form-group field-cus-pass">
                    <label for="cus-pass" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="password" placeholder="Password" class="form-field" name="cus-pass" access="false" maxlength="50" id="cus-pass" required="required" aria-required="true">
                </div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>