{% import static %}

<section>
    <div class="form-wrapper">
        <form>
            <div class="rendered-form">
                <div class="formbuilder-text form-group field-cus-email">
                    <label for="cus-email" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="email" placeholder="Email" class="form-field" name="cus-email" access="false" maxlength="50" id="cus-email" required="required" aria-required="true">
                </div>
                <div class="formbuilder-text form-group field-cus-pass">
                    <label for="cus-pass" class="formbuilder-text-label"><span class="formbuilder-required">*</span></label>
                    <input type="password" placeholder="Password" class="form-field" name="cus-pass" access="false" maxlength="50" id="cus-pass" required="required" aria-required="true">
                </div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>