<!-- TODO: Will need to display Menu Items and Reviews attached to Model on this Page 
Display button to edit and delete if the Resturant is owned by current user
If a user is Logged in and ISNT the resturant owner a button to ass a review should be shown-->


{% extends 'base/base.html' %}
{% block content %}
    <h1>{{restaurant.restaurant_name}}</h1>
    <p>{{restaurant.restaurant_description}}</p>
    <p> Owner :{{restaurant.restaurant_owner}} </p>
    <p> Owner Address :{{restaurant.restaurant_owner.address}} </p>
    <p> Owner Phone:{{restaurant.restaurant_owner.phone_number}} </p>
    
    <a href="{% url 'edit-restaurant' restaurant_id=restaurant.id  %}" class='bg-red-400 px-3 rounded-md font-bold text-white'>Edit</a>
    <a href="{% url 'delete-restaurant' restaurant_id=restaurant.id  %}" class='bg-red-400 px-3 rounded-md font-bold text-white'>DELETE</a>

    {% endblock%}

