{% extends "base/base.html"%}
{% block content %}

<h1>Restaurant List</h1>

<a href="{% url 'create-restaurant' %}" >Create Restaurant</a>

    {% if restaurant_list %}

    <ul>
        {% for restaurant in restaurant_list %}
        <a href="{% url 'restaurant-details' restaurant_id=restaurant.id %}"  class="">

            <li><h1> {{ restaurant.restaurant_name}} </h1>

        </a>
        <!-- <li><h1> {{ restaurant.restaurant_name}} </h1> -->
        <p> {{restaurant.restaurant_description}} </p>
        
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p> Restaurant not available</p>
    {% endif %}
    
{% endblock content %}