<!-- TODO: Will need to display Menu Items and Reviews attached to Model on this Page 
Display button to edit and delete if the Resturant is owned by current user
If a user is Logged in and ISNT the resturant owner a button to ass a review should be shown-->


{% extends 'base/base.html' %}
{% load static%}
{% block content %}
    {% comment %} <h1>{{restaurant.restaurant_name}}</h1>
    <p>{{restaurant.restaurant_description}}</p>
    <p> Owner :{{restaurant.restaurant_owner}} </p>
    <p> Owner Address :{{restaurant.restaurant_owner.address}} </p>
    <p> Owner Phone:{{restaurant.restaurant_owner.phone_number}} </p>
    
    <a href="{% url 'edit-restaurant' restaurant_id=restaurant.id  %}" class='bg-red-400 px-3 rounded-md font-bold text-white'>Edit</a>
    <a href="{% url 'delete-restaurant' restaurant_id=restaurant.id  %}" class='bg-red-400 px-3 rounded-md font-bold text-white'>DELETE</a> {% endcomment %}

<section>
    <h1 class="r-title">{{restaurant.restaurant_name}}</h1>
    <div class="info-wrap-details">
        <div class="res-details-wrap">
            <div class="icon-text-wrap">
                <img class="icon" src="{% static 'images/icons/location-pin.png' %}">
                <a class="r-info-text">{{restaurant.restaurant_location}}</a>
            </div>
            <div class="icon-text-wrap">
                <img class="icon" src="{% static 'images/icons/star.png' %}">
                <a class="r-info-text">{{r_rating}}</a>
            </div>
            <div class="icon-text-wrap">
                <img class="icon" src="{% static 'images/icons/owner.png' %}">
                <a class="r-info-text">{{restaurant.restaurant_owner}}</a>
            </div>
        </div>
    </div>
    <p class="text">{{restaurant.restaurant_description}}</p>
    </p>
    <div class="button-wrap">
        <a href="https://www.google.com/maps/place/{{restaurant.restaurant_location}}" target="_blank"class="btn btn-dark">Get Directions</a>
        <a href=""class="btn btn-dark">View Menu</a>
        <a class="btn btn-action" href="{% url 'edit-restaurant' restaurant.id %}" >Edit</a>
    </div>
</section>
<section>
    <h2>Reviews</h2>
    
    <ul>
     
        {% for review in reviews %}
            <ul>
                <div class="reviews-wrap">
                    <li>
                        <h3 class="rev-name">{{ review.user.this_user.username|title }}</h3>
                        <div class="rating-wrap">
                            {% for _ in "x"|ljust:review.rating %}
                                <img class="icon" src="{% static 'images/icons/star.png' %}">
                            {% endfor %}
                            {% comment %} <a class="r-info-text">{{ review.rating }}</a> {% endcomment %}
                        </div>
                        <p class="review-text text">{{ review.comment }}</p>
                    </li>
                </div>
            </ul>
        {% empty %}
            <p>No reviews available for this restaurant.</p>
        {% endfor %}
    </ul>

    <ul>
        <div class="reviews-wrap">
            <li>
                <h3 class="rev-name">{{rev_name}}</h3>
                <div class="rating-wrap">
                    <img class="icon" src="{% static 'images/icons/star.png' %}">
                    <a class="r-info-text">{{rev_rating}}</a>
                </div>
                <p class="review-text text">{{rev_review}}</p>
            </li>
        </div>
    </ul>
</section>

{% endblock %}